[core]
	autocrlf = false
	safecrlf = false
	editor = emacsclient -t
[magit]
	extension = wip-save
[github]
	user = etimecowboy
	oauth-token = db6b750e898a8ddd4031d9fd9c6e193eec73ea70
[user]
	email = etimecowboy@gmial.com
	name = etimecowboy
[push]
	default = current
[cola]
	spellcheck = false
[credential]
	helper = cache --timeout=3600
