[Desktop Entry]
Categories=
Comment=ANVIL Video Annotation Research Tool
Comment[zh]=ANVIL Video Annotation Research Tool
Encoding=
Exec=/home/xin/opt/ANVIL/ANVIL.BAT 
GenericName=
GenericName[zh]=
Icon=/home/xin/opt/ANVIL/required/icon/anvil-32.ico
MimeType=
Name=ANVIL 6
Name[zh]=ANVIL 6
Path=/home/xin/opt/ANVIL
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=
TerminalOptions=
Type=
URL=
X-KDE-SubstituteUID=false
X-KDE-Username=root

# created by com.izforge.izpack.util.os.Unix_Shortcut $Revision: 2910 $
# $Id: Unix_Shortcut.java 2910 2009-12-14 08:29:35Z jponge $