[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty (New Tab)
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=kitty
Exec=kitty @ --to unix:@mykitty launch --type tab
Icon=/opt/kitty/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;
