[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/home/xin/.local/kitty.app/bin/kitty
Exec=/home/xin/.local/kitty.app/bin/kitty -1 -o allow_remote_control=yes --listen-on unix:@mykitty
Icon=/home/xin/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;