[Desktop Entry]
Name=org-protocol
Exec=emacsclient -nc %u
Icon=/home/xin/src/DotFiles-Linux/.local/share/icons/emacs.png
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
Hidden=True
