[Desktop Entry]
Name=org-protocol
Exec=emacsclient -nc %u
Icon=/usr/share/icons/hicolor/scalable/apps/emacs24.svg
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
Hidden=True
