#!/usr/bin/env xdg-open
[Desktop Entry]
Name=org-protocol
Exec=emacsclient %u
Icon=/home/xin/src/DotFiles-Linux/.local/share/icons/emacs128.png
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
